.Rproj.user
.Rhistory
.RData
.Ruserdata

_targets
docs

README.html

spph.duckdb
phdegree.duckdb
phdegree.duckdb.wal
*.duckdb
*.duckdb.wal

data-raw/the/*.pdf
data-raw/qs/*.xlsx
data-raw/usp/
data-raw/lshtm/
data-raw/michigan/
data-raw/melb/

data/
!data/.gitkeep


reports/mph_review.html
